{% extends "auctions/layout.html" %}

{% block title %}
Watchlist
{% endblock %}

{% block body %}
<h2>Watch List</h2>
{% for list in lists %}
<a href="{% url 'listing' list.id %}">
    <div style="border:1px black solid ; display:block;border-radius: 10px;border: 3px solid gray;padding: 10px;">
        <div style="display: inline-block;width: 40%;"><img src="{{ list.image }}" style="height:200px;"></div>
        <div style="display: inline-block;color:black;font-size: larger;width:29%;">
            <p style="font-weight: bold;display:inline">Title : </p>{{ list.title }}<br><br>
            <p style="font-weight: bold;display:inline">Price : </p>${{ list.start_bid }}<br>
            <i>{{ list.time_create }}</i>
        </div>
        <div style="display: inline-block;color:black;font-size: larger;width:29%;">
            <p style="font-weight: bold;display:inline">Descriptions : </p><br>
            {{ list.description }}
        </div>
        
    </div>
</a>
<br>
{% endfor %}
{% endblock %}